
.button {
    color: rgb(50, 50, 50);
    background-color: white;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;

    font-size: 30px;
    transition-duration: 0.4s;
    border: 2px solid rgb(50, 50, 50);
  }
  
  .button:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(43, 43, 43);
    border: 2px solid rgb(255, 255, 255);
  
  }