.navBarPad{
padding: 1.5%;

}

.screenPos {
  text-align: right;
  display: inline;
  position: absolute;
  width: 100%;
  right: 0;


}

.logoStyle {
  padding: 0 2%;
  width: 3%;
  display: inline;  

}