.cardPad {
  padding: 1%;
  font-size: larger;
  text-align: center;
}

.index {
  width: 5%;
  display: inline-block;
}

.name {
  padding-left: 15%;
  width: 40%;
  text-align: left;
  display: inline-block;
}

.rank {
  width: 30%;
  text-align: left;
  display: inline-block;
}

.trash {
  width: 2%;
}
